
.content-integrantes{
    background-color: #7879F1;
    color: white;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;

}


.List-conteiner{
    display: grid;
    grid-template-columns: repeat( 3 , minmax(100px, 1fr ));
    row-gap: 20px;
    column-gap: 50px;
}




